booking-system/n8n/pottery-booking-workflow.json
{
  "name": "Clay & Light — Pottery Booking Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pottery-booking",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-pottery",
      "name": "Webhook — Receive Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "pottery-booking-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields\nconst body = $input.first().json.body || $input.first().json;\n\nconst required = ['name', 'email', 'timeslot', 'persons'];\nconst missing = required.filter(f => !body[f]);\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\nif (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(body.email)) {\n  throw new Error('Invalid email address');\n}\n\nif (parseInt(body.persons) < 1 || parseInt(body.persons) > 20) {\n  throw new Error('Persons must be between 1 and 20');\n}\n\nconst pricePerPerson = parseFloat(body.price_per_person) || 45;\nconst persons = parseInt(body.persons);\nconst totalPrice = persons * pricePerPerson;\n\nreturn [{\n  json: {\n    name: body.name.trim(),\n    email: body.email.trim().toLowerCase(),\n    phone: body.phone || null,\n    timeslot: new Date(body.timeslot).toISOString(),\n    persons: persons,\n    price_per_person: pricePerPerson,\n    total_price: totalPrice,\n    notes: body.notes || null,\n    marketing_consent: body.marketing_consent === true || body.marketing_consent === 'true',\n    status: 'confirmed',\n    formattedTimeslot: new Date(body.timeslot).toLocaleString('de-AT', {\n      timeZone: 'Europe/Vienna',\n      weekday: 'long',\n      year: 'numeric',\n      month: 'long',\n      day: 'numeric',\n      hour: '2-digit',\n      minute: '2-digit'\n    })\n  }\n}];"
      },
      "id": "code-validate",
      "name": "Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "pottery_bookings",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "timeslot": "={{ $json.timeslot }}",
            "persons": "={{ $json.persons }}",
            "price_per_person": "={{ $json.price_per_person }}",
            "notes": "={{ $json.notes }}",
            "marketing_consent": "={{ $json.marketing_consent }}",
            "status": "={{ $json.status }}"
          }
        }
      },
      "id": "supabase-insert",
      "name": "Insert into Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [720, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase — Clay & Light"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Validate & Normalize').item.json.email }}",
        "subject": "Deine Töpferbuchung ist bestätigt — Clay & Light",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Buchungsbestätigung</title>\n</head>\n<body style=\"margin:0;padding:0;background-color:#F0EEE9;font-family:'Georgia',serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F0EEE9;padding:40px 20px;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 12px rgba(26,23,20,0.08);\">\n          <!-- Header -->\n          <tr>\n            <td style=\"background:#6B1E2E;padding:40px 48px;\">\n              <h1 style=\"margin:0;color:#F0EEE9;font-size:28px;font-weight:400;letter-spacing:0.02em;\">Clay &amp; Light</h1>\n              <p style=\"margin:8px 0 0;color:#C2D6B8;font-size:13px;letter-spacing:0.08em;text-transform:uppercase;\">Kaffee. Ton. Stille.</p>\n            </td>\n          </tr>\n          <!-- Body -->\n          <tr>\n            <td style=\"padding:48px;\">\n              <h2 style=\"margin:0 0 8px;color:#6B1E2E;font-size:22px;font-weight:400;\">Deine Buchung ist bestätigt.</h2>\n              <p style=\"margin:0 0 32px;color:#9E9189;font-size:15px;\">Wir freuen uns auf deinen Besuch.</p>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F0EEE9;border-radius:6px;padding:24px;margin-bottom:32px;\">\n                <tr>\n                  <td style=\"padding:8px 0;border-bottom:1px solid #C2D6B8;\">\n                    <span style=\"color:#9E9189;font-size:12px;text-transform:uppercase;letter-spacing:0.08em;\">Name</span><br>\n                    <span style=\"color:#1A1714;font-size:16px;\">{{ $('Validate & Normalize').item.json.name }}</span>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:8px 0;border-bottom:1px solid #C2D6B8;\">\n                    <span style=\"color:#9E9189;font-size:12px;text-transform:uppercase;letter-spacing:0.08em;\">Termin</span><br>\n                    <span style=\"color:#1A1714;font-size:16px;\">{{ $('Validate & Normalize').item.json.formattedTimeslot }}</span>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:8px 0;border-bottom:1px solid #C2D6B8;\">\n                    <span style=\"color:#9E9189;font-size:12px;text-transform:uppercase;letter-spacing:0.08em;\">Dauer</span><br>\n                    <span style=\"color:#1A1714;font-size:16px;\">110 Minuten</span>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:8px 0;border-bottom:1px solid #C2D6B8;\">\n                    <span style=\"color:#9E9189;font-size:12px;text-transform:uppercase;letter-spacing:0.08em;\">Personen</span><br>\n                    <span style=\"color:#1A1714;font-size:16px;\">{{ $('Validate & Normalize').item.json.persons }}</span>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:8px 0;\">\n                    <span style=\"color:#9E9189;font-size:12px;text-transform:uppercase;letter-spacing:0.08em;\">Gesamtbetrag</span><br>\n                    <span style=\"color:#6B1E2E;font-size:20px;font-weight:700;\">€ {{ $('Validate & Normalize').item.json.total_price.toFixed(2) }}</span>\n                  </td>\n                </tr>\n              </table>\n\n              {{ $('Validate & Normalize').item.json.notes ? '<p style=\"color:#1A1714;font-size:14px;\"><strong>Deine Notizen:</strong> ' + $('Validate & Normalize').item.json.notes + '</p>' : '' }}\n\n              <p style=\"color:#9E9189;font-size:13px;line-height:1.7;margin-top:32px;\">\n                Bei Fragen erreichst du uns unter <a href=\"mailto:hello@clayandlight.at\" style=\"color:#6B9A5A;\">hello@clayandlight.at</a>.\n              </p>\n              <p style=\"color:#9E9189;font-size:13px;line-height:1.7;\">\n                Bitte erscheine pünktlich — das Material wird 10 Minuten vor Beginn vorbereitet.\n              </p>\n            </td>\n          </tr>\n          <!-- Footer -->\n          <tr>\n            <td style=\"background:#4A1220;padding:24px 48px;\">\n              <p style=\"margin:0;color:#9E9189;font-size:12px;\">Clay &amp; Light · Wien · <a href=\"https://clayandlight.at/datenschutz\" style=\"color:#C2D6B8;\">Datenschutz</a> · <a href=\"https://clayandlight.at/impressum\" style=\"color:#C2D6B8;\">Impressum</a></p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
        "options": {
          "fromName": "Clay & Light"
        }
      },
      "id": "gmail-customer",
      "name": "Email — Customer Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [960, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials",
          "name": "Gmail — Clay & Light"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "hello@clayandlight.at",
        "subject": "=🏺 Neue Töpferbuchung — {{ $('Validate & Normalize').item.json.name }} ({{ $('Validate & Normalize').item.json.persons }} Pers.)",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html lang=\"de\">\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#F0EEE9;font-family:monospace;\">\n  <table width=\"100%\" style=\"padding:32px;\">\n    <tr><td align=\"center\">\n      <table width=\"560\" style=\"background:#fff;border-radius:6px;border-left:4px solid #6B9A5A;padding:32px;\">\n        <tr><td>\n          <h2 style=\"margin:0 0 24px;color:#6B1E2E;font-size:20px;\">Neue Töpferbuchung</h2>\n          <table width=\"100%\" style=\"border-collapse:collapse;font-size:14px;\">\n            <tr style=\"background:#F0EEE9;\"><td style=\"padding:8px 12px;color:#9E9189;\">Name</td><td style=\"padding:8px 12px;color:#1A1714;\">{{ $('Validate & Normalize').item.json.name }}</td></tr>\n            <tr><td style=\"padding:8px 12px;color:#9E9189;\">E-Mail</td><td style=\"padding:8px 12px;\"><a href=\"mailto:{{ $('Validate & Normalize').item.json.email }}\" style=\"color:#6B9A5A;\">{{ $('Validate & Normalize').item.json.email }}</a></td></tr>\n            <tr style=\"background:#F0EEE9;\"><td style=\"padding:8px 12px;color:#9E9189;\">Telefon</td><td style=\"padding:8px 12px;color:#1A1714;\">{{ $('Validate & Normalize').item.json.phone || '—' }}</td></tr>\n            <tr><td style=\"padding:8px 12px;color:#9E9189;\">Termin</td><td style=\"padding:8px 12px;color:#1A1714;font-weight:bold;\">{{ $('Validate & Normalize').item.json.formattedTimeslot }}</td></tr>\n            <tr style=\"background:#F0EEE9;\"><td style=\"padding:8px 12px;color:#9E9189;\">Personen</td><td style=\"padding:8px 12px;color:#1A1714;\">{{ $('Validate & Normalize').item.json.persons }}</td></tr>\n            <tr><td style=\"padding:8px 12px;color:#9E9189;\">Preis/Person</td><td style=\"padding:8px 12px;color:#1A1714;\">€ {{ $('Validate & Normalize').item.json.price_per_person }}</td></tr>\n            <tr style=\"background:#F0EEE9;\"><td style=\"padding:8px 12px;color:#9E9189;\">Gesamtbetrag</td><td style=\"padding:8px 12px;color:#6B1E2E;font-weight:bold;font-size:16px;\">€ {{ $('Validate & Normalize').item.json.total_price.toFixed(2) }}</td></tr>\n            <tr><td style=\"padding:8px 12px;color:#9E9189;\">Notizen</td><td style=\"padding:8px 12px;color:#1A1714;\">{{ $('Validate & Normalize').item.json.notes || '—' }}</td></tr>\n            <tr style=\"background:#F0EEE9;\"><td style=\"padding:8px 12px;color:#9E9189;\">Marketing</td><td style=\"padding:8px 12px;color:#1A1714;\">{{ $('Validate & Normalize').item.json.marketing_consent ? '✓ Ja' : '✗ Nein' }}</td></tr>\n          </table>\n          <p style=\"margin:24px 0 0;color:#9E9189;font-size:12px;\">Buchungs-ID: {{ $('Insert into Supabase').item.json.id }}</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>",
        "options": {
          "fromName": "Clay & Light Buchungssystem"
        }
      },
      "id": "gmail-owner",
      "name": "Email — Owner Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [960, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials",
          "name": "Gmail — Clay & Light"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "days"
      },
      "id": "wait-24h",
      "name": "Wait — 24h Before Slot",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [960, 580],
      "notes": "Adjust timing: ideally trigger at (timeslot - 24h). Use a separate scheduled workflow for precise reminders."
    },
    {
      "parameters": {
        "sendTo": "={{ $('Validate & Normalize').item.json.email }}",
        "subject": "Erinnerung: Dein Töpferkurs morgen — Clay & Light",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html lang=\"de\">\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#F0EEE9;font-family:'Georgia',serif;\">\n  <table width=\"100%\" style=\"padding:40px 20px;background:#F0EEE9;\">\n    <tr><td align=\"center\">\n      <table width=\"560\" style=\"background:#fff;border-radius:8px;overflow:hidden;\">\n        <tr><td style=\"background:#6B9A5A;padding:28px 40px;\">\n          <h1 style=\"margin:0;color:#F0EEE9;font-size:22px;font-weight:400;\">Nicht vergessen.</h1>\n        </td></tr>\n        <tr><td style=\"padding:40px;\">\n          <p style=\"color:#1A1714;font-size:16px;\">Hallo {{ $('Validate & Normalize').item.json.name }},</p>\n          <p style=\"color:#9E9189;font-size:15px;line-height:1.7;\">dein Töpferkurs bei Clay &amp; Light beginnt morgen:</p>\n          <p style=\"background:#F0EEE9;padding:16px;border-radius:6px;color:#6B1E2E;font-size:18px;font-weight:700;\">{{ $('Validate & Normalize').item.json.formattedTimeslot }}</p>\n          <p style=\"color:#9E9189;font-size:14px;\">{{ $('Validate & Normalize').item.json.persons }} Person(en) · 110 Minuten · € {{ $('Validate & Normalize').item.json.total_price.toFixed(2) }}</p>\n          <p style=\"color:#9E9189;font-size:13px;line-height:1.7;\">Bitte erscheine pünktlich. Das Material wird 10 Minuten vor Beginn vorbereitet.</p>\n          <p style=\"color:#9E9189;font-size:13px;\">Wir sehen uns bald.<br>Dein Clay &amp; Light Team</p>\n        </td></tr>\n        <tr><td style=\"background:#4A1220;padding:20px 40px;\">\n          <p style=\"margin:0;color:#9E9189;font-size:12px;\">Clay &amp; Light · Wien</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>",
        "options": {
          "fromName": "Clay & Light"
        }
      },
      "id": "gmail-reminder",
      "name": "Email — Reminder (24h before)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1180, 580],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials",
          "name": "Gmail — Clay & Light"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Booking confirmed\", \"id\": \"{{ $('Insert into Supabase').item.json.id }}\" }"
      },
      "id": "respond-success",
      "name": "Respond — Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"{{ $json.message }}\" }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond — Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-error",
      "name": "Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 460]
    }
  ],
  "connections": {
    "Webhook — Receive Booking": {
      "main": [
        [{ "node": "Validate & Normalize", "type": "main", "index": 0 }]
      ]
    },
    "Validate & Normalize": {
      "main": [
        [{ "node": "Insert into Supabase", "type": "main", "index": 0 }]
      ]
    },
    "Insert into Supabase": {
      "main": [
        [
          { "node": "Email — Customer Confirmation", "type": "main", "index": 0 },
          { "node": "Email — Owner Notification", "type": "main", "index": 0 },
          { "node": "Wait — 24h Before Slot", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email — Customer Confirmation": {
      "main": [
        [{ "node": "Respond — Success", "type": "main", "index": 0 }]
      ]
    },
    "Wait — 24h Before Slot": {
      "main": [
        [{ "node": "Email — Reminder (24h before)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["clay-and-light", "bookings"],
  "triggerCount": 1,
  "active": false,
  "versionId": "1",
  "meta": {
    "instanceId": "clay-and-light-pottery-booking"
  }
}
